#### This code will consolidate all the logs from DataDog, CAL and FPTI and save it in another table in chronological order . E.g. this consolidates the logs for 2025-01-15 from 9 to 10 am.

In [45]:
import pandas as pd

df = None
# Load CSV files with proper datetime parsing
def consolidate(start_time, end_time):
    global df
    df_dd = pd.read_csv("datadog_mobile_logs.csv", parse_dates=["timestamp"])
    df_be = pd.read_csv("backend_logs.csv", parse_dates=["timestamp"])
    df_as = pd.read_csv("analytics_logs.csv", parse_dates=["timestamp"])

    # Filter logs by the time window
    df_dd = df_dd[(df_dd["timestamp"] >= start_time) & (df_dd["timestamp"] <= end_time)]
    df_be = df_be[(df_be["timestamp"] >= start_time) & (df_be["timestamp"] <= end_time)]
    df_as = df_as[(df_as["timestamp"] >= start_time) & (df_as["timestamp"] <= end_time)]

    # Consolidate logs by merging on session_id, event_idx, and event_name.
    # This join will include BE logs only for events that have a backend call (i.e. where a correlation_id exists in DD).
    df_consolidated = pd.merge(
        df_dd,
        df_be,
        on=["session_id", "event_idx", "event_name"],
        how="left",
        suffixes=("_dd", "_be")
    )

    # Now merge the Analytics logs (which don't include correlation_id) on session_id, event_idx, and event_name.
    df_consolidated = pd.merge(
        df_consolidated,
        df_as,
        on=["session_id", "event_idx", "event_name"],
        how="left"
    )

    # Optional: sort the consolidated DataFrame by session_id and event_idx
    df_consolidated.sort_values(by=["session_id", "event_idx"], inplace=True)

    # Display a sample of the consolidated snapshot
    print("Consolidated Logs Snapshot:")
    print(df_consolidated.head(10))
    # Save the consolidated view to CSV if desired
    df_consolidated.to_csv("consolidated_logs.csv", index=False)
    df = df_consolidated

In [46]:
 # Define a time window for consolidation (adjust as needed)
# 2025-01-21 22:41:22 - 2025-01-22 00:37:02
start_time = pd.to_datetime("2025-01-21 22:41:22")
end_time   = pd.to_datetime("2025-01-22 00:37:02")
consolidate(start_time, end_time)

Consolidated Logs Snapshot:
          timestamp_dd   session_id  event_idx          event_name platform
13 2025-01-21 23:31:01  sess-A10977          1              Splash  Android  \
14 2025-01-21 23:32:00  sess-A10977          2           LoginPage  Android
15 2025-01-21 23:32:56  sess-A10977          3        LoginAttempt  Android
16 2025-01-21 23:33:19  sess-A10977          4  LoginResultFailure  Android
17 2025-01-21 23:33:41  sess-A10977          5                Exit  Android
34 2025-01-22 00:32:19  sess-A12580          1              Splash  Android
35 2025-01-22 00:32:40  sess-A12580          2                Home  Android
36 2025-01-22 00:33:02  sess-A12580          3         ArticleText  Android
37 2025-01-22 00:33:27  sess-A12580          4         ArticleText  Android
38 2025-01-22 00:34:18  sess-A12580          5         ArticleText  Android

                                 log_message_dd article_id_dd
13               SplashScreenActivity displayed           NaN  \
14                      LoginActivity displayed           NaN
15  User submitted credentials in LoginActivity           NaN
16                  LoginActivity: Login failed           NaN
17      User exited app from LastScreenActivity           NaN
34               SplashScreenActivity displayed           NaN
35                 HomeScreenActivity displayed           NaN
36                   ArticleTextActivity opened  wapo15929036
37                   ArticleTextActivity opened   nyt10184225
38                   ArticleTextActivity opened   nyt36410492

     correlation_id_dd        timestamp_be   correlation_id_be  service
13                 NaN                 NaT                 NaN      NaN  \
14                 NaN                 NaT                 NaN      NaN
15  CORR-sess-A10977-3 2025-01-21 23:32:56  CORR-sess-A10977-3      NaN
16  CORR-sess-A10977-4 2025-01-21 23:33:19  CORR-sess-A10977-4      NaN
17                 NaN                 NaT                 NaN      NaN
34                 NaN                 NaT                 NaN      NaN
35  CORR-sess-A12580-2 2025-01-22 00:32:40  CORR-sess-A12580-2      NaN
36  CORR-sess-A12580-3 2025-01-22 00:33:02  CORR-sess-A12580-3      NaN
37  CORR-sess-A12580-4 2025-01-22 00:33:27  CORR-sess-A12580-4      NaN
38  CORR-sess-A12580-5 2025-01-22 00:34:18  CORR-sess-A12580-5      NaN

                     log_message_be article_id_be           timestamp
13                              NaN           NaN 2025-01-21 23:31:01  \
14                              NaN           NaN 2025-01-21 23:32:00
15  Authentication request received           NaN 2025-01-21 23:32:56
16              Invalid credentials           NaN 2025-01-21 23:33:19
17                              NaN           NaN 2025-01-21 23:33:41
34                              NaN           NaN 2025-01-22 00:32:19
35           Home content requested           NaN 2025-01-22 00:32:40
36     Text article details fetched  wapo15929036 2025-01-22 00:33:02
37     Text article details fetched   nyt10184225 2025-01-22 00:33:27
38     Text article details fetched   nyt36410492 2025-01-22 00:34:18

    event_type                                log_message    article_id
13  impression   SplashScreenActivity impression recorded           NaN
14  impression          LoginActivity impression recorded           NaN
15       click      Login button clicked in LoginActivity           NaN
16  impression  Login failure recorded from LoginActivity           NaN
17  impression                        Exit event recorded           NaN
34  impression   SplashScreenActivity impression recorded           NaN
35  impression     HomeScreenActivity impression recorded           NaN
36  impression    ArticleTextActivity impression recorded  wapo15929036
37  impression    ArticleTextActivity impression recorded   nyt10184225
38  impression    ArticleTextActivity impression recorded   nyt36410492

In [50]:
# Find a session with session_id = sess-I14083
dd_df = pd.read_csv("datadog_mobile_logs.csv")
dd_df.head()

filtered_df = dd_df[dd_df["session_id"] == "sess-I14083"]
filtered_df.reset_index(inplace=True)
filtered_df

,index,timestamp,session_id,event_idx,event_name,platform,log_message,article_id,correlation_id
0,34460,2025-01-21 23:08:33,sess-I14083,1,Splash,iOS,SplashScreenViewController displayed,NaN,NaN
1,34461,2025-01-21 23:08:58,sess-I14083,2,Home,iOS,HomeScreenViewController displayed,NaN,CORR-sess-I14083-2
2,34462,2025-01-21 23:09:49,sess-I14083,3,ArticleVideo,iOS,ArticleVideoViewController opened,nyt53472165,CORR-sess-I14083-3
3,34463,2025-01-21 23:09:56,sess-I14083,4,Share,iOS,ShareViewController: User clicked share,NaN,CORR-sess-I14083-4
4,34464,2025-01-21 23:10:29,sess-I14083,5,ArticleVideo,iOS,ArticleVideoViewController opened,nyt73433694,CORR-sess-I14083-5
5,34465,2025-01-21 23:10:59,sess-I14083,6,AudioArticleError,iOS,ArticleErrorActivity: Audio outage – AI TTS se...,cnn79789763,CORR-sess-I14083-6
6,34466,2025-01-21 23:11:29,sess-I14083,7,Share,iOS,ShareViewController: User clicked share,NaN,CORR-sess-I14083-7
7,34467,2025-01-21 23:12:04,sess-I14083,8,Exit,iOS,User exited app from LastScreenViewController,NaN,NaN